body {
  margin: 0;
  background-color: #e6f1f7;
  font-family: "Chivo", sans-serif;
  color: #4e5f63;
  min-height: 100vh;
  background: #4e5f63;
  /* Old browsers */
  background: -moz-linear-gradient(bottom, #4e5f63 0%, #4e5f63 6%, #7298a1 19%, #a1bec5 35%, #cae0e9 71%, #e6f1f7 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(bottom, #4e5f63 0%, #4e5f63 6%, #7298a1 19%, #a1bec5 35%, #cae0e9 71%, #e6f1f7 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to top, #4e5f63 0%, #4e5f63 6%, #7298a1 19%, #a1bec5 35%, #cae0e9 71%, #e6f1f7 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

* {
  box-sizing: border-box;
}

::selection {
  color: #cae0e9;
  background-color: #4e5f63;
}

.notification {
  background-color: #e6f1f7;
  position: fixed;
  right: 0.8em;
  bottom: 0.8em;
  border: 1px solid #a1bec5;
  opacity: 0;
  padding: 1.6em;
  cursor: pointer;
}
.notification .text {
  font-size: 1.2em;
}
.notification .close {
  color: #7298a1;
  text-align: right;
  margin-top: 0.4rem;
  font-size: 0.9em;
}

.tabs {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  min-height: 5em;
  padding: 0 1.2em;
}
.tabs .tab {
  transition: all 200ms cubic-bezier(0.19, 0.83, 0.32, 0.96);
  border-right: 1px solid #a1bec5;
  border-left: 1px solid #a1bec5;
  border-top: 1px solid #a1bec5;
  background-color: #cae0e9;
  cursor: pointer;
  padding: 0.6rem 0.8rem;
  margin: 0 0.4rem;
  font-weight: 900;
}
.tabs .tab.active {
  background-color: #e6f1f7;
  cursor: default;
  padding: 1.2rem 1.6rem;
  font-size: 1.2em;
}

.form.register,
.form.sign-in,
.form.push-note,
.dialogue.confirm {
  border: 1px solid #a1bec5;
  padding: 1.6rem;
  background-color: #e6f1f7;
}
.form.register .group,
.form.sign-in .group,
.form.push-note .group,
.dialogue.confirm .group {
  padding: 0.8rem 0;
  width: 100%;
}
.form.register .row,
.form.sign-in .row,
.form.push-note .row,
.dialogue.confirm .row {
  display: flex;
}
.form.register .row > *:not(:first-child),
.form.sign-in .row > *:not(:first-child),
.form.push-note .row > *:not(:first-child),
.dialogue.confirm .row > *:not(:first-child) {
  margin-left: 0.8rem;
  width: 45%;
}
.form.register .center,
.form.sign-in .center,
.form.push-note .center,
.dialogue.confirm .center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form.register .center > *:not(:first-child),
.form.sign-in .center > *:not(:first-child),
.form.push-note .center > *:not(:first-child),
.dialogue.confirm .center > *:not(:first-child) {
  margin-left: 0.8rem;
}
.form.register .input-label,
.form.sign-in .input-label,
.form.push-note .input-label,
.dialogue.confirm .input-label {
  padding: 0 0.8rem;
}
.form.register input[type=text],
.form.register input[type=email],
.form.register input[type=password],
.form.register textarea,
.form.sign-in input[type=text],
.form.sign-in input[type=email],
.form.sign-in input[type=password],
.form.sign-in textarea,
.form.push-note input[type=text],
.form.push-note input[type=email],
.form.push-note input[type=password],
.form.push-note textarea,
.dialogue.confirm input[type=text],
.dialogue.confirm input[type=email],
.dialogue.confirm input[type=password],
.dialogue.confirm textarea {
  display: block;
  border: none;
  border: 1px solid #cae0e9;
  color: inherit;
  font-size: 1.2rem;
  font-family: inherit;
  padding: 0.6rem 0.8rem;
  background-color: #cae0e9;
  margin-bottom: 0.4rem;
  width: 100%;
  resize: none;
}
.form.register input[type=text]:not(textarea),
.form.register input[type=email]:not(textarea),
.form.register input[type=password]:not(textarea),
.form.register textarea:not(textarea),
.form.sign-in input[type=text]:not(textarea),
.form.sign-in input[type=email]:not(textarea),
.form.sign-in input[type=password]:not(textarea),
.form.sign-in textarea:not(textarea),
.form.push-note input[type=text]:not(textarea),
.form.push-note input[type=email]:not(textarea),
.form.push-note input[type=password]:not(textarea),
.form.push-note textarea:not(textarea),
.dialogue.confirm input[type=text]:not(textarea),
.dialogue.confirm input[type=email]:not(textarea),
.dialogue.confirm input[type=password]:not(textarea),
.dialogue.confirm textarea:not(textarea) {
  height: 2em;
}
.form.register input[type=text]:focus,
.form.register input[type=email]:focus,
.form.register input[type=password]:focus,
.form.register textarea:focus,
.form.sign-in input[type=text]:focus,
.form.sign-in input[type=email]:focus,
.form.sign-in input[type=password]:focus,
.form.sign-in textarea:focus,
.form.push-note input[type=text]:focus,
.form.push-note input[type=email]:focus,
.form.push-note input[type=password]:focus,
.form.push-note textarea:focus,
.dialogue.confirm input[type=text]:focus,
.dialogue.confirm input[type=email]:focus,
.dialogue.confirm input[type=password]:focus,
.dialogue.confirm textarea:focus {
  outline-color: #7298a1;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}
.form.register input[type=text]:hover,
.form.register input[type=email]:hover,
.form.register input[type=password]:hover,
.form.register textarea:hover,
.form.sign-in input[type=text]:hover,
.form.sign-in input[type=email]:hover,
.form.sign-in input[type=password]:hover,
.form.sign-in textarea:hover,
.form.push-note input[type=text]:hover,
.form.push-note input[type=email]:hover,
.form.push-note input[type=password]:hover,
.form.push-note textarea:hover,
.dialogue.confirm input[type=text]:hover,
.dialogue.confirm input[type=email]:hover,
.dialogue.confirm input[type=password]:hover,
.dialogue.confirm textarea:hover {
  border: 1px solid #a1bec5;
}
.form.register input[type=text]:-webkit-autofill, .form.register input[type=text]:-webkit-autofill:hover, .form.register input[type=text]:-webkit-autofill:focus,
.form.register input[type=email]:-webkit-autofill,
.form.register input[type=email]:-webkit-autofill:hover,
.form.register input[type=email]:-webkit-autofill:focus,
.form.register input[type=password]:-webkit-autofill,
.form.register input[type=password]:-webkit-autofill:hover,
.form.register input[type=password]:-webkit-autofill:focus,
.form.register textarea:-webkit-autofill,
.form.register textarea:-webkit-autofill:hover,
.form.register textarea:-webkit-autofill:focus,
.form.sign-in input[type=text]:-webkit-autofill,
.form.sign-in input[type=text]:-webkit-autofill:hover,
.form.sign-in input[type=text]:-webkit-autofill:focus,
.form.sign-in input[type=email]:-webkit-autofill,
.form.sign-in input[type=email]:-webkit-autofill:hover,
.form.sign-in input[type=email]:-webkit-autofill:focus,
.form.sign-in input[type=password]:-webkit-autofill,
.form.sign-in input[type=password]:-webkit-autofill:hover,
.form.sign-in input[type=password]:-webkit-autofill:focus,
.form.sign-in textarea:-webkit-autofill,
.form.sign-in textarea:-webkit-autofill:hover,
.form.sign-in textarea:-webkit-autofill:focus,
.form.push-note input[type=text]:-webkit-autofill,
.form.push-note input[type=text]:-webkit-autofill:hover,
.form.push-note input[type=text]:-webkit-autofill:focus,
.form.push-note input[type=email]:-webkit-autofill,
.form.push-note input[type=email]:-webkit-autofill:hover,
.form.push-note input[type=email]:-webkit-autofill:focus,
.form.push-note input[type=password]:-webkit-autofill,
.form.push-note input[type=password]:-webkit-autofill:hover,
.form.push-note input[type=password]:-webkit-autofill:focus,
.form.push-note textarea:-webkit-autofill,
.form.push-note textarea:-webkit-autofill:hover,
.form.push-note textarea:-webkit-autofill:focus,
.dialogue.confirm input[type=text]:-webkit-autofill,
.dialogue.confirm input[type=text]:-webkit-autofill:hover,
.dialogue.confirm input[type=text]:-webkit-autofill:focus,
.dialogue.confirm input[type=email]:-webkit-autofill,
.dialogue.confirm input[type=email]:-webkit-autofill:hover,
.dialogue.confirm input[type=email]:-webkit-autofill:focus,
.dialogue.confirm input[type=password]:-webkit-autofill,
.dialogue.confirm input[type=password]:-webkit-autofill:hover,
.dialogue.confirm input[type=password]:-webkit-autofill:focus,
.dialogue.confirm textarea:-webkit-autofill,
.dialogue.confirm textarea:-webkit-autofill:hover,
.dialogue.confirm textarea:-webkit-autofill:focus {
  color: inherit;
  border: 1px solid #a1bec5;
  -webkit-text-fill-color: inherit;
  box-shadow: 0 0 0px 1000px #cae0e9 inset;
  -webkit-box-shadow: 0 0 0px 1000px #cae0e9 inset;
  transition: background-color 5000s ease-in-out 0s;
}
.form.register button,
.form.sign-in button,
.form.push-note button,
.dialogue.confirm button {
  border: 1px solid #a1bec5;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.6rem 0.8rem;
  background-color: #cae0e9;
  color: #4e5f63;
  margin-bottom: 0.4rem;
  height: 2em;
  min-width: 6rem;
}
.form.register button:hover,
.form.sign-in button:hover,
.form.push-note button:hover,
.dialogue.confirm button:hover {
  outline-color: #7298a1;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}
.form.register button:focus,
.form.sign-in button:focus,
.form.push-note button:focus,
.dialogue.confirm button:focus {
  outline-color: #7298a1;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}
.form.register button.confirm,
.form.sign-in button.confirm,
.form.push-note button.confirm,
.dialogue.confirm button.confirm {
  background-color: #48b170;
  color: #235637;
  border-color: #327b4e;
}
.form.register button.confirm svg.icon,
.form.sign-in button.confirm svg.icon,
.form.push-note button.confirm svg.icon,
.dialogue.confirm button.confirm svg.icon {
  fill: #235637 !important;
}
.form.register button.confirm svg.icon .line,
.form.sign-in button.confirm svg.icon .line,
.form.push-note button.confirm svg.icon .line,
.dialogue.confirm button.confirm svg.icon .line {
  stroke: #235637 !important;
}
.form.register button.confirm:hover,
.form.sign-in button.confirm:hover,
.form.push-note button.confirm:hover,
.dialogue.confirm button.confirm:hover {
  outline-color: #2b6842;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}
.form.register button.confirm:focus,
.form.sign-in button.confirm:focus,
.form.push-note button.confirm:focus,
.dialogue.confirm button.confirm:focus {
  outline-color: #2b6842;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}
.form.register button.reject,
.form.sign-in button.reject,
.form.push-note button.reject,
.dialogue.confirm button.reject {
  background-color: #b15848;
  color: #562b23;
  border-color: #7b3d32;
}
.form.register button.reject svg.icon,
.form.sign-in button.reject svg.icon,
.form.push-note button.reject svg.icon,
.dialogue.confirm button.reject svg.icon {
  fill: #562b23 !important;
}
.form.register button.reject svg.icon .line,
.form.sign-in button.reject svg.icon .line,
.form.push-note button.reject svg.icon .line,
.dialogue.confirm button.reject svg.icon .line {
  stroke: #562b23 !important;
}
.form.register button.reject:hover,
.form.sign-in button.reject:hover,
.form.push-note button.reject:hover,
.dialogue.confirm button.reject:hover {
  outline-color: #68342b;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}
.form.register button.reject:focus,
.form.sign-in button.reject:focus,
.form.push-note button.reject:focus,
.dialogue.confirm button.reject:focus {
  outline-color: #68342b;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}

.button {
  border: 1px solid #a1bec5;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.6rem 0.8rem;
  background-color: #cae0e9;
  color: #4e5f63;
}
.button:hover {
  outline-color: #7298a1;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}
.button:focus {
  outline-color: #7298a1;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}
.button.confirm {
  background-color: #48b170;
  color: #235637;
  border-color: #327b4e;
}
.button.confirm svg.icon {
  fill: #235637 !important;
}
.button.confirm svg.icon .line {
  stroke: #235637 !important;
}
.button.confirm:hover {
  outline-color: #2b6842;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}
.button.confirm:focus {
  outline-color: #2b6842;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}
.button.reject {
  background-color: #b15848;
  color: #562b23;
  border-color: #7b3d32;
}
.button.reject svg.icon {
  fill: #562b23 !important;
}
.button.reject svg.icon .line {
  stroke: #562b23 !important;
}
.button.reject:hover {
  outline-color: #68342b;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}
.button.reject:focus {
  outline-color: #68342b;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}

.icon {
  width: 2em;
  height: 2em;
  display: block;
}
.icon :not(.line) {
  fill: #4e5f63;
}
.icon .line {
  stroke-width: 3;
  stroke: #4e5f63;
  fill: none;
}

.dropdown {
  flex-shrink: 0;
  position: relative;
}
.dropdown.expanded .head {
  background-color: #cae0e9;
}
.dropdown.expanded .head .icon {
  transform: rotate(180deg);
}
.dropdown .head {
  display: flex;
  padding: 0.8rem;
  cursor: pointer;
  background-color: #e6f1f7;
  border: 1px solid #a1bec5;
  align-items: center;
  height: 3.2rem;
}
.dropdown .head:hover {
  outline-color: #7298a1;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}
.dropdown .head:focus {
  outline-color: #7298a1;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}
.dropdown .head .icon {
  font-size: 0.6em;
  transition: transform 300ms cubic-bezier(0.19, 0.83, 0.32, 0.96);
}
.dropdown .head .title {
  font-size: 1.17em;
  padding: 0 0.4rem;
  width: 14rem;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}
.dropdown .expand {
  display: none;
  overflow: auto;
  position: absolute;
  top: 100%;
  max-height: 16em;
}
.dropdown .expand .simplebar-track {
  z-index: 5;
}
.dropdown .expand .simplebar-scroll-content {
  z-index: 4;
}
.dropdown .expand .new-project {
  display: flex;
  margin-top: 0.4rem;
  padding: 3px;
  padding-right: 0.8rem;
}
.dropdown .expand .new-project input {
  display: block;
  border: none;
  border: 1px solid #cae0e9;
  color: inherit;
  font-size: 1.2rem;
  font-family: inherit;
  padding: 0.6rem 0.8rem;
  background-color: #cae0e9;
  margin-bottom: 0.4rem;
  width: 100%;
  resize: none;
  height: 2em;
}
.dropdown .expand .new-project input:focus {
  outline-color: #7298a1;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}
.dropdown .expand .new-project input:hover {
  border: 1px solid #a1bec5;
}
.dropdown .expand .new-project input::placeholder {
  color: #7298a1;
}
.dropdown .expand .new-project .confirm {
  width: 2.4rem;
  height: 2.4rem;
  display: flex !important;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-left: 0.4rem;
}
.dropdown .expand .new-project .confirm svg.icon {
  flex-shrink: 0;
  font-size: 0.4em;
}
.dropdown .expand .projects {
  padding: 3px;
  padding-right: 0.8rem;
}
.dropdown .expand .projects .project {
  border: 1px solid #a1bec5;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.6rem 0.8rem;
  background-color: #cae0e9;
  color: #4e5f63;
  background-color: #e6f1f7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.2rem;
}
.dropdown .expand .projects .project:hover {
  outline-color: #7298a1;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}
.dropdown .expand .projects .project:focus {
  outline-color: #7298a1;
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}
.dropdown .expand .projects .project:hover .delete {
  opacity: 1;
}
.dropdown .expand .projects .project.disabled {
  pointer-events: none;
}
.dropdown .expand .projects .project .delete {
  width: 2em;
  cursor: pointer;
  transition: opacity 300ms cubic-bezier(0.19, 0.83, 0.32, 0.96);
  font-size: 0.6em;
  opacity: 0;
  transition: opacity 300ms cubic-bezier(0.19, 0.83, 0.32, 0.96);
}
.dropdown .expand .projects .project .delete .lid {
  transition: transform 300ms cubic-bezier(0.19, 0.83, 0.32, 0.96);
}
.dropdown .expand .projects .project .delete:hover .lid {
  transform: translateY(-0.5em);
}

.dialogue-align {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.dialogue-align .dialogue.confirm {
  width: 20em;
  flex-shrink: 0;
  box-shadow: 0 0 2em -0.5em #7298a1;
}
.dialogue-align .dialogue.confirm .text {
  font-size: 1.17em;
  margin-bottom: 0.8rem;
}

.js-elements {
  display: none;
}

/*# sourceMappingURL=common.css.map */
